{{- define "main" }}

<header class="page-header">
  <h1>
    Search&nbsp;
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="11" cy="11" r="8"></circle>
      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
  </h1>
  {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
  {{- end }}
  {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "translation_list.html" . -}}
    </div>
  {{- end }}

  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
      {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
</header>

<script>
  document.addEventListener("keydown", event => {
    if (event.key !== "/") return;
    event.preventDefault();
    document.getElementById("searchInput").focus();
  });
</script>

<div id="searchbox">
  <input id="searchInput" autofocus placeholder="{{ .Params.placeholder | default (printf "%s ↵" .Title) }}"
    aria-label="Search" type="search" autocomplete="off" maxlength="64">
  <ul id="searchResults" aria-label="Search results"></ul>
</div>

{{- end }}{{/* end main */}}
